<fieldset>
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <p>
        <label for='model'>Model</label><br>
        <input autofocus id="search" id='model' type='text' name='model' value = '{{ car.model }}'/>
    </p>
    <p>
        <label for='cost'>Cost</label><br>
        <input id='cost' type='number' placeholder='$' name='cost' value = '{{ car.cost }}' />
    </p>
    <p>
        <label for='url'>URL</label><br>
        <input id='url' type='text' placeholder='http:' name='url' value = '{{ car.url }}'/>
    </p>
</fieldset>
    