body {
    background-color: rgb(201, 201, 194)
}

.list_text_color {
    color: rgb(219, 129, 88)
}

ul {
    color: blue
}

#cost_color {
    color: rgb(92, 68, 25);
    font-size: 15px
}

#add_car_color {
    color: rgb(0, 195, 255);
    background-color: aquamarine;
    border-radius: 8px;
}

#delete_all {
    color: rgb(194, 44, 44)
}