{% extends "base.html" %}


{% block content %}
<a href='/'>Back to Home</a>
<br>
<br>
Car Model: {{ car.model }}
<br>
<img src="{{ car.url }}" alt="Car Image">
<br>
Car cost: ${{ car.cost }}
<br><br>
<!-- <a href="/cars/edit/{{ car._id }}">Edit Car</a> -->
<button onclick="window.location.href='/cars/edit/{{ car._id }}';">Edit Car</button>

<p>
    <form method="POST" action="/cars/{{ car._id }}/delete/">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-primary" type="submit">Delete Car</button>
</form>
</p>
<button onclick="window.location.href='/';">View Car List</button>
<button onclick="window.location.href='/cars/new';">Add Another Car</button>

{% endblock %}