{% extends "base.html" %}


{% block content %}
<a href='/'>Back to Home</a>
<br>
<br>
<font size="3">Car Model: {{ car.model }}</font>
<br>
<img src="{{ car.url }}" alt="Car Image" class="img-thumbnail">
<br>
<script>
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
</script>
<p 
id="cost_color">Car cost: $<script>document.write(numberWithCommas({{ car.cost }}));</script>
</p>
<br>
<!-- For href to be a button and not just hyperlink -->
<!-- <a href="/cars/edit/{{ car._id }}">Edit Car</a> -->
<button onclick="window.location.href='/cars/edit/{{ car._id }}';">Edit Car</button>

<p>
    <form method="POST" action="/cars/{{ car._id }}/delete/">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-primary" type="submit">Delete Car</button>
</form>
</p>
<!-- To make href a button instead of hypertext -->
<button onclick="window.location.href='/';">View Car List</button>
<button id="add_car_color" onclick="window.location.href='/cars/new';">Add Another Car</button>

{% endblock %}